name: Build - @adviser/qsf

on:
  push:
  pull_request:

env:
  IN_CI: "in_ci"

jobs:
  build:
    permissions:
      contents: read
      id-token: write

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          version: 10

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          pnpm remove playwright-chromium
          pnpm install
          pnpm dedupe --check

      - name: Lint & format
        run: |
          pnpm run format:check
          pnpm run lint

      - name: Build
        run: pnpm run build

      - name: Test
        run: |
          PLAYWRIGHT_VERSION=$(pnpm why playwright --json | jq -r '.[] | select(.name == "playwright") | .version // empty')
          docker run --rm \
            -v $(pwd):/work \
            -w /work \
            mcr.microsoft.com/playwright:v${PLAYWRIGHT_VERSION}-noble \
            bash -c "npm run test:js"

      - name: Prepare pubdir
        if: startsWith(github.ref, 'refs/tags/v')
        run: pnpm run pubdir

      - name: Publish @adviser/qsf to npm
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          npm install -g npm@11
          cd dist/pubdir
          npm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish @adviser/qsf to JSR
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cd dist/pubdir
          pnpm exec deno publish --allow-dirty --unstable-sloppy-imports --allow-slow-types --quiet
        env:
          DENO_AUTH_TOKEN: ${{ secrets.JSR_TOKEN }}
